.mainDiv {
  background-color: #b8cce4;
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0%;
  right: 0;
  margin-right: 30px;
  transform: translateX(200%);
  transition: transform 0.3s ease-in-out;
}
.animation {
  transform: translateX(0);
  z-index: 1;
}

fieldset {
  border: 1px solid white;
}

legend {
  margin-left: calc(-25%);
  font-size: 13px;
}

	
.blackLine {
  width: 15px;
  border-bottom: 2px solid black;
  height: 50%;
  margin-left: 40%;
}
.darkRedLine {
  width: 15px;
  border-bottom: 2px solid darkred;
  height: 50%;
  margin-left: 40%;
}
.yellowLine {
  width: 50px;
  border-bottom: 2px solid yellow;
  height: 50%;
  margin-left: 25%;
}
.brownLine {
  width: 50px;
  border-bottom: 2px solid brown;
  height: 50%;
  margin-left: 25%;
}
.redLine {
  width: 50px;
  border-bottom: 2px solid red;
  height: 50%;
  margin-left: 25%;
}
.circle {
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 40%;
  border: 3px solid black;
}
